@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

<script type="text/javascript">
    $(document).ready(() => {


        var connection = new signalR.HubConnectionBuilder().configureLogging
            (signalR.LogLevel.Information).withAutomaticReconnect([1000,3000,3000,2000]).withUrl("https://localhost:44351/MyHub").build();




        statusShow();
        start();

        function statusShow() {
            $('#conStatus').text(connection.state);
        }

        function start() {
            connection.start().then(() => {
                statusShow();

                connection.invoke("GetNames");

            }).catch((err) => {
                console.log(err);
                setTimeout(() => start(), 2000);
            });
        }

      
        $('#btnNameSave').click(() => {

            connection.invoke("SendName", $('#txtName').val()).catch((err) => {
                console.log(err);
            });

        });

        connection.on("ReceiveNames", (names) => {
            $("#nameList").empty();
            names.forEach((item, index) => {
                $("#nameList").append(`<li class="list-group-item">${item} </li>`)
            })
        })


        connection.onreconnecting(err => {
            statusShow();

            console.log("onreconnection: "+err);
        });

        connection.onreconnected(err => {
            statusShow();
            console.log("onreconnected: " + err);
        });

        connection.onclose(() => {
            statusShow();
            console.log("onclose: " + err);
            start();
        });

        connection.on("Error", (errorText) => {
            alert(errorText);
        });



        connection.on("ReceiveName", (name) => {
            $("#nameList").append(`<li class="list-group-item"> ${name}</li>`)
        });

        connection.on("ReceiveClientCount", (clientCount) => {

            $('#clientCount').text(clientCount);
        });


        
        connection.on("Notify", (countText) => {
            $('#notify').html(`<div class="alert alert-warning">${countText} </div>`);
            
        });


    });

</script>
}
<div class="row">

    <div class="col-md-8 offset-2">

        <input class="form-control" type="text" id="txtName" />
        <hr />
        <button class="btn btn-primary" id="btnNameSave">İsim Kaydet</button>

        <div class="alert alert-info">
            Bağlantı Durumu:<strong id="conStatus"></strong>
            ,Client Sayısı:<strong id="clientCount"></strong>

        </div>

        <div id="notify">
         

        </div>

    </div>
    <div class="col-md-8 offset-2">
        <ul class="list-group" id="nameList"></ul>

    </div>


</div>